@import "fonts";
@import "colors";
@import "sizes";
@import "mixins";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $default-font;
  color: $default;
  background-color: $body-bg;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 480px;
  height: fit-content;
  margin: 0;
  padding: 20px;
  // @include marg-padd(
  //   $margin-default,
  //   $margin-default,
  //   $margin-default,
  //   $margin-default,
  //   $padding-m,
  //   $padding-m,
  //   $padding-m,
  //   $padding-m
  // );
  @include disp(flex, column, center, center);
  border-radius: $radius;
  background-color: $container-bg;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

  .header {
    user-select: none;
    // cursor: default;
    width: 100%;
    h1 {
      font-size: 34px;
      line-height: 25px;
      letter-spacing: 0.04em;
    }
  }

  .actions {
    width: 95%;
    height: fit-content;
    position: relative;

    .output-container {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0px;
      padding: 20px;
      background-color: #1e223f;
      border-radius: 10px;
      border: 1px solid #1e223f;
      transition: 0.3s ease-in-out;

      .output {
        width: 100%;
        height: 35px;
        pointer-events: none;
        color: #ffff;
        cursor: default;
        background: none;
        border: none;
        outline: none;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.05em;
        // margin: 0 10px 0 10px;
      }

      .copy-btn {
        position: relative;
        cursor: pointer;
        color: #ffff;
        // margin: 0 10px 0 0;
        width: 30px;
        height: 30px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: fit-content;

        svg {
          width: 100%;
          fill: #ffff;
          transition: 0.3s ease-in-out;
        }
      }

      .copy-btn:hover {
        svg {
          fill: #2196f3;
        }
      }
    }

    .output-container:hover {
      border: 1px solid #2196f3;
    }

    .length {
      user-select: none;
      margin: 15px 0px;
      background-color: #0b0f2f;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;

      .length-label {
        user-select: none;
        margin: 0px 10px;
        font-size: 12px;
        opacity: 50%;

        .slider-value {
          opacity: 100%;
        }
      }

      .length-slider {
        width: 100%;
        background-color: #0429d6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0px;
        height: 65px;
        padding: 15px 20px;
        background: #1e223f;
        border-radius: 10px;
        border: 1px solid #1e223f;
        transition: 0.3s ease-in-out;

        input {
          width: 80%;
          height: 3px;
          cursor: pointer;
        }
      }

      .length-slider:hover {
        border: 1px solid #2196f3;
      }
    }

    .settings {
      user-select: none;
      margin: 0px 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;

      .settings-label {
        margin: 0px 10px;
        font-size: 12px;
        opacity: 50%;
      }

      .setting {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0px;
        height: 65px;
        padding: 15px 20px;
        background: #1e223f;
        border-radius: 10px;
        border: 1px solid #1e223f;
        transition: 0.3s ease-in-out;

        label {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.04em;
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #aaaaaa;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #2196f3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }

      .setting:hover {
        border: 1px solid #2196f3;
      }
    }

    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;
      input {
        margin: 15px 0px;
        width: 100%;
        height: 60px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: #ffff;
        background: linear-gradient(90deg, #697ee1 0%, #6f55a6 100%);
        border: none;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }

    .button {
      input:hover {
        color: #0b0f2f;
      }
    }
  }
}
